/* 	================= 
		MAIN.CSS
	================= */

/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

* {
	/*color: blue;*/
}

body {
	background-color: blue;
	/*outline: 1px solid rgb(0,0,255);*/
}

.mobile {
	display: none;
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

.transparent {
	color: rgba(255,255,255,0);
}

.underline {
	text-decoration: underline;
}

h1,
h2 {
	color: white;
}

.title {
	width: 100%;
	text-align: justify;
	font-family: 'Tienne', serif;
	font-size: 24px;
	letter-spacing: 1px;
}


.sections {
	margin-top: 20px;
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-family: 'Kanit', sans-serif;
	color: yellow;

}

.title:after {
	width: 100%;
     content: "";
     display: inline-block;
}

.content h1 {
	width: 90%;
	margin-left: 10%;
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 24px;
	letter-spacing: 1px;
}

.content a {
	width: 85%;
	margin-left: 15%;
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 24px;
	letter-spacing: 1px;
}

.content a:link,
.content a:visited {
	color: yellow;
}


/* 	===========================
		IMAGES
	=========================== */

/* 	===========================
		LAYOUT
	=========================== */

.header {
	width: 100%;
	position: fixed;
	height: 100px;
	background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, rgba(0,255,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, rgba(0,255,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, rgba(0,255,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, rgba(0,255,0,0)); /* Standard syntax */
    z-index: 0;
}

#about {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y:scroll;
	z-index: 200;
	display: none;
}

#three-container {
	z-index: 100;
	background-color: blue;
	display: none;
}

/* 	===========================
		ABOUT
	=========================== */

.main{
	font-family: 'Tienne', serif;
	font-weight: 400;
	font-size: 50px;
	line-height: 65px;
	margin-bottom: 40px;
	text-align: justify;
}

.bottom {
	margin-bottom: 0;
}

.main a:link,
.main a:visited {
	color: yellow;
	/*text-shadow: 3px 3px 5px yellow;*/
}

.main a:hover{
	/*font-style: italic;*/
}

.statement {
	font-family: 'Kanit', sans-serif;
	font-size: 55px;
	line-height: 65px;
	margin-bottom: 50px;
	text-align: justify;
}



/*  =======================
    MEDIA QUERIES
    ======================= */

@media (max-width: 1100px) {
	
}

@media (max-width: 900px) {
	


}

@media (max-width: 800px) {

	
}

@media (max-width: 600px) {
	

}

@media (max-width: 550px) {
	

}


@media (max-width: 500px) {


}

@media (max-width: 400px) {

	h3 {
		margin-top: 200px;
		font-size: 20px;
		line-height: 25px;
	}


}


